<div class="index-container">

  <!-- Left Menu -->
  <div class="index-menu">

    <ul class="nav nav-list">

      <li class="nav-header index-menu-year">
        <ul class="nav nav-list flex-column index-menu-month" id="show_all">
          <li class="nav-item">
            <%= link_to 'Show All', release_notes_path %>
          </li>
        </ul>
      </li>

    </ul>

    <% if 0 == 1 %>
      <% @search_results.map {|d| d.release_date.year}.uniq.each do |year| %>
        <ul class="nav nav-list">

          <li class="nav-header index-menu-year">
            <span><%= year %></span>
            <ul class="nav nav-list flex-column index-menu-month" id="<%= year %>">
              <% this_year_months = [] %>
              <% @search_results.map(&:release_date).each do |srid| %>

                <li>
                  <%= link_to t('date.month_names')[srid.month], '#' + t('date.month_names')[srid.month] + '-' + year.to_s, {class: 'menu-link'} if srid.year == year && !this_year_months.include?(srid.month) %>
                </li>
                <% this_year_months << srid.month %>

              <% end %>

            </ul>
          </li>

        </ul>
      <% end %>
    <% end %>

  </div>

  <!-- Search Results -->

  <div class="index-articles">
    <% if @search_results.count > 0 %>
      <% if user_signed_in? %>
        <% @search_results.each do |note| %>

          <%= render partial: 'release_notes/release_note', locals: {release_note: note} %>

        <% end %>
      <% else %>

        <% @search_results.each do |note| %>

          <% if note.published %>

            <%= render partial: 'release_notes/release_note', locals: {release_note: note} %>

          <% end %>

        <% end %>

      <% end %>
    <% end %>
  </div>

</div>