<div class="index-container">

  <!-- Left Menu -->
  <div class="index-menu">

    <% if user_signed_in? %>

      <% @release_notes.order(release_date: :desc).map {|d| d.release_date.year}.uniq.each do |year| %>
        <ul class="nav nav-list">

          <li class="nav-header index-menu-year">
            <span><%= year %></span>
            <ul class="nav nav-list flex-column index-menu-month" id="<%= year %>">
              <% @release_notes.order(release_date: :desc).where('extract(year from release_date) = ?', year).map {|d| d.release_date.month}.uniq.each do |month| %>

                <li class="nav-item">
                  <%= link_to t('date.month_names')[month], '#' + t('date.month_names')[month] + '-' + year.to_s %>
                </li>

              <% end %>
            </ul>
          </li>

        </ul>
      <% end %>

    <% else %>

      <% @release_notes.published.select("release_date").order(release_date: :desc).map {|d| d.release_date.year}.uniq.each do |year| %>
        <ul class="nav nav-list">

          <li class="nav-header index-menu-year">
            <span><%= year %></span>
            <ul class="nav nav-list flex-column index-menu-month" id="<%= year %>">
              <% @release_notes.published.order(release_date: :desc).where('extract(year from release_date) = ?', year).map {|d| d.release_date.month}.uniq.each do |month| %>

                <li class="nav-item">
                  <%= link_to t('date.month_names')[month], '#' + t('date.month_names')[month] + '-' + year.to_s %>
                </li>

              <% end %>
            </ul>
          </li>

        </ul>
      <% end %>

    <% end %>
  </div>
  <!-- Articles -->
  <div class="index-articles">
    <% if @release_notes.count > 0 %>
      <% if user_signed_in? %>
        <% @release_notes.order(release_date: :desc, id: :desc).each do |note| %>

          <%= render partial: 'release_notes/release_note', locals: {release_note: note} %>

        <% end %>
      <% else %>

        <% @release_notes.published.order(release_date: :desc, id: :desc).each do |note| %>

          <%= render partial: 'release_notes/release_note', locals: {release_note: note} %>

        <% end %>

      <% end %>
    <% else %>
      <div class="release-note-container">
        <div class="center">Uh-oh! There are no release notes yet <i class="far fa-frown"></i></div>
        <% if user_signed_in? %>
          <div class="center"><br/><%= link_to Faker::Simpsons.quote, new_release_note_path, class: 'btn btn-sm btn-primary' %></div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>