<div class="release-note-container">

  <div class="release-note-row">
    <div class="release-note-title">
      <%= @release_note.title %>
    </div>
  </div>

  <div class="release-note-row">
    <div class="release-note-intro">
      <%= @release_note.intro %>
    </div>
  </div>

  <div class="release-note-items">

    <% if @release_note.release_note_items.where('change_type = ?', 'New Feature').count > 0 %>
      <div class="release-note-type">
        <span class="fa-stack">
          <i class="fas fa-sun fa-stack-2x"></i>
        </span>
        New <%= 'Feature'.pluralize(@release_note.release_note_items.where('change_type = ?', 'New Feature').count) %>
      </div>
      <% @release_note.release_note_items.where('change_type = ?', 'New Feature').each do |item| %>

        <div class="release-note-item-row">
          <div class="release-note-item-icon">
            <i class="fas fa-sun"></i>
          </div>
          <div class="release-note-item-col">
            <div class="release-note-item-title">
              <%= item.change_title %>
            </div>
            <div class="release-note-item-details">
              <%= item.change_details %>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

    <% if @release_note.release_note_items.where('change_type = ?', 'Bug Fix').count > 0 %>
      <div class="release-note-type">
        <span class="fa-stack">
          <i class="fas fa-bug fa-stack-2x"></i>
        </span>
        Bug <%= 'Fix'.pluralize(@release_note.release_note_items.where('change_type = ?', 'Bug Fix').count) %>
      </div>
      <% @release_note.release_note_items.where('change_type = ?', 'Bug Fix').each do |item| %>

        <div class="release-note-item-row">
          <div class="release-note-item-icon">
            <i class="fas fa-bug"></i>
          </div>
          <div class="release-note-item-col">
            <div class="release-note-item-title">
              <%= item.change_title %>
            </div>
            <div class="release-note-item-details">
              <%= item.change_details %>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

    <% if @release_note.release_note_items.where('change_type = ?', 'Enhancement').count > 0 %>
      <div class="release-note-type">
        <span class="fa-stack">
          <i class="fas fa-certificate fa-stack-2x"></i>
          <i class="fas fa-thumbs-up fa-stack-1x" style="color:white"></i>
        </span>
        <%= 'Enhancement'.pluralize(@release_note.release_note_items.where('change_type = ?', 'Enhancement').count) %>
      </div>
      <% @release_note.release_note_items.where('change_type = ?', 'Enhancement').each do |item| %>

        <div class="release-note-item-row">
          <div class="release-note-item-icon">
            <span class="fa-stack fa-xs">
              <i class="fas fa-certificate fa-stack-2x"></i>
              <i class="fas fa-thumbs-up fa-stack-1x" style="color:white"></i>
            </span>
          </div>
          <div class="release-note-item-col">
            <div class="release-note-item-title">
              <%= item.change_title %>
            </div>
            <div class="release-note-item-details">
              <%= item.change_details %>
            </div>
          </div>
        </div>

      <% end %>

    <% end %>

  </div>

  <div class="release-note-row">
    <div class="release-note-outro">
      <%= @release_note.outro %>
    </div>
  </div>

</div>