<div class="top-nav">
    <div class="nav-bar-col">
      <div class="nav-h">

        <h2><%= link_to ENV['TIM_RN_SITE_NAME'], release_notes_path %></h2>

        <div class="nav-right-panel">
          <%= render 'layouts/nav_search' %>
          <% if user_signed_in? && current_user.dev %>
            <%= link_to new_release_note_path do %>
              <i class="fas fa-plus-circle nav-bar-item" title="Create Release Note"></i>
            <% end %>
            <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="fas fa-sign-out-alt nav-bar-item" title="Sign Out"></i>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt nav-bar-item" title="Sign In"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="nav-bar-row">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
</div>