<div class="top-nav">
  <div class="nav-h">

    <h2><%= link_to ENV['TIM_RN_SITE_NAME'], release_notes_path %></h2>
    <div class="nav-right-panel-row">

      <div class="nav-right-panel-col">
        <%= render 'layouts/nav_search' %>
      </div>

      <div class="nav-right-panel-col">
        <div class="nav-right-panel-row">

          <div class="dropdown nav-dropdown">
            <button class="dropbtn dropdown-toggle" type="button" data-toggle="dropdown">
              <span style="margin: 5px;"><i class="fas fa-eye" aria-hidden="true"></i></span>
            </button>
            <ul class="dropdown-menu">
              <%= link_to release_notes_path do %>
                <li class="nav-item nav-dropdown-menu-item">
                  <small>Everything</small>
                </li>
              <% end %>

              <%= link_to new_features_path do %>
                <li class="nav-item nav-dropdown-menu-item">
                  <small>New Features</small>
                </li>
              <% end %>

              <%= link_to enhancements_path do %>
                <li class="nav-item nav-dropdown-menu-item">
                  <small>Enhancements</small>
                </li>
              <% end %>

              <%= link_to bug_fixes_path do %>
                <li class="nav-item nav-dropdown-menu-item">
                  <small>Bug Fixes</small>
                </li>
              <% end %>
            </ul>
          </div>

          <% if user_signed_in? %>

            <% if current_user.dev %>
              <%= link_to new_release_note_path do %>
                <i class="fas fa-plus-circle nav-bar-item" title="Create Release Note"></i>
              <% end %>

              <%= link_to edit_user_registration_path do %>
                <i class="fas fa-user-edit nav-bar-item" title="Edit User Profile"></i>
              <% end %>
            <% end %>

            <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="fas fa-sign-out-alt nav-bar-item" title="Sign Out"></i>
            <% end %>

          <% else %>
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt nav-bar-item" title="Sign In"></i>
            <% end %>
          <% end %>
        </div>

        <div class="nav-right-panel-row">
          <div class="nav-bar-item">
            <small><% if user_signed_in? %>Hello, <%= current_user.pref_name %>!<% end %>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/nav_flash' %>
</div>
